
.container {
    height: 60%;
    margin: 60px;
    width: 40%;
    margin-top: 7%;
    margin-left: 30%;
    background-color: white;
}
.container1 {
    justify-content: center;
    height: 25%;
    width: 100%;
    background-color: white;
}
.container2 {
    margin-top: 5px;
    height: 300%;
    width: 100%;
    background-color: white;
}

img {
    margin-top: 30px;
    border-radius: 50%;
    border: 1px solid burlywood;
    margin-left: 40%;
}
.title {
    color: #5e6773;
    margin-top: 35px;
    margin-left: 200px;
    font-size: 25px;
}
.recover {
    margin-top: 5%;
    font-size: 125%;
    margin-left: 35%;
    font-weight: lighter;
}
.para {
    padding: 5px 5px;
    font-weight: lighter;

}
.sub-container {
    margin: 30px;
    text-align: center;
    height: 60px;
    background-color: lightblue;
    border-radius: 5px;
}
.emailInput {
    margin-top: 20px;
    height: 35px;
    width: 96%;
    padding: 5px 5px;
}
.submit {
    margin-top: 20px;
    color: white;
    background-color: deepskyblue;
    height: 50px;
    width: 550px;
    font-size: 20px;
    font-family: sans-serif;
}
.endTag {
    margin-top: 10px;
    text-align: center;
    margin-left: -60px;
}
.loginButton {
    margin-left: 150px;
    margin-top: -10%;
    color: deepskyblue;
    bottom: 5px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-group-lg>.btn, .btn-lg {
    font-size: 18px;
    line-height: 1.3333333;
}
.btn-block {
    display: block;
    width: 100%;
    margin-top: 30px;
}
.btn {
    border-radius: 3px;
}

.btn-group-lg > .btn, .btn-lg {
    padding: 10px 28px;
}

.btn-primary {
    background-color: #00AAFF;
    border-color: #00a0f0;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
}
.login-link{

}